.text {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column; /*invert the axes*/
    height: 50vh;
    gap: 20px; /*add space between elements of div*/
    font-size: 2em;
}

/* Styling for the link list */
.link-list {
    list-style-type: none;        /* Removes bullet points */
    padding-left: 0;              /* Removes left padding */
    margin: 0;                    /* Removes default margin */
}

.link-list li {
    margin-bottom: 10px;          /* Adds space between list items */
}

.link-list a {
    text-decoration:underline;        
    color: #007bff;               /* Sets the link color */
    font-size: 50px;              /* Increases font size */
}

.link-list a:hover {
    color: #41f71d;               
}

.gif-container {
    width: 100%;                  
    height: auto;                 
    display: flex;                
    justify-content: center;      /* CENTERED A DIV RAHHHHH*/
    align-items: center;          
}

.hiddeninplainsight {
    visibility: hidden;           
    width: 200px;                 
    height: auto;                 
    transition: visibility 0s; 
}

.gif-container:hover .hiddeninplainsight {
    visibility: visible;
}

.expandButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 10px 0;
    width: 20%;
}

.forms {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.expandButton:hover {
    background-color: #45a049;
}

.form-container {
    display: none;
    margin-top: 20px;
}

.form-section {
    margin-bottom: 15px;
}

.form-section label {
    display: block;
    font-weight: bold;
}

.form-section input,
.form-section textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    height: 100px;
}