.text {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column; /*invert the axes*/
    height: 50vh;
    gap: 20px; /*add space between elements of div*/
    font-size: 2em;
}

.link-list {
    list-style-type: none;        /* Removes bullet points */
}

.link-list li {
    margin-bottom: 10px;          /* Adds space between list items */
}

.link-list a {
    text-decoration:underline;        
    color: #007bff;
    font-size: 50px;
}

.link-list a:hover {
    color: #41f71d;               
}

.gif-container {
    width: 100%;                  
    height: auto;                 
    display: flex;                
    justify-content: center;      /* CENTERED A DIV RAHHHHH*/
    align-items: center;          
}

.hiddeninplainsight {
    visibility: hidden;           
    width: 200px;                 
    height: auto;                 
    transition: visibility 0s; 
}

.gif-container:hover .hiddeninplainsight {
    visibility: visible;
}

.expandButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 10px 0;
    width: 20%;
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 22px;
}

.expandButton:hover {
    background-color: #45a049;
}

.form-container {
    display: none;
    margin-top: 20px;
}

.form-section {
    margin-bottom: 15px;
}

.form-section label {
    display: block;
    font-weight: bold;
}

.form-section input,
.form-section textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    height: 100px;
}

.table-container {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #000000; /* adjust color of table headers*/
    color: white;     /* text will appear white*/
    padding: 12px;      /* formatting */
    text-align: left;
    font-size: 1.1em;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 1.75em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.no-data-message {
    font-size: 1.2em;
    color: #555;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}

.small-table {
    width: 50%;
    margin: auto;
    font-size: 1em;
}

.small-table td, .small-table th {
    padding: 10px;
}

