<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='juice.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    
    <title>Create Customer</title>
</head>
<body>
    <h1>Create a New Customer</h1>

    <!-- show flash messages. hopefully record creation worked 😶 -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}



    <div class="forms">
        <button class="expandButton" id="form1">Customer</button>
        <div class="content">
            <form action="{{ url_for('create_customer') }}" method="POST">
                <label for="Customer_id">Customer ID</label>
                <input type="text" id="Customer_id" name="Customer_id" required><br>
                <label for="LName">Last Name</label>
                <input type="text" id="LName" name="LName" ><br>
                <label for="FName">First Name</label>
                <input type="text" id="FName" name="FName" ><br>
                <label for="Address">Address</label>
                <input type="text" id="Address" name="Address" ><br>
                <button type="submit">Submit</button>
            </form>
        </div>

        <button class="expandButton" id="form2">Subscription</button>
        <div class="content">
            <form action="{{ url_for('create_subscription') }}" method="POST">
                <label for="SubType">Subscription Type</label>
                <input type="text" id="SubType" name="SubType" required><br>
                <label for="Customer_id">Customer ID</label>
                <input type="number" id="Customer_id" name="Customer_id" required><br>
                <button type="submit">Submit</button>
            </form>
        </div>

        <button class="expandButton" id="form3">Publication</button>
        <div class="content">
            <form action="{{ url_for('create_publication') }}" method="POST">
                <label for="PubName">Publication Name</label>
                <input type="text" name="PubName" required><br>
                <label for="PubType">Publication Type</label>
                <input type="text" name="PubType" required><br>
                <button type="submit">Submit</button>
            </form>
        </div>

        <button class="expandButton" id="form4">Magazine Subscription</button>
        <div class="content">
            <form action="{{ url_for('create_magazine') }}" method="POST">
                <label for="NumberOfIssues">Number of Issues</label>
                <input type="text" id="NumberOfIssues" name="NumberOfIssues" required><br>

                <label for="StartDate">Start Date</label>
                <input type="date" id="StartDate" name="StartDate" required><br>
                <!--end date is derived-->

                <label for="Price">Price</label>
                <input type="number" step="0.01" id="Price" name="Price" required><br>

                <label for="SubId">Subscription ID</label>
                <input type="number" id="SubId" name="SubId" required><br>

                <label for="Customer_id">Customer ID</label>
                <input type="number" id="Customer_id" name="Customer_id" required><br>

                <button type="submit">Submit</button>
            </form>
        </div>

        <button class="expandButton" id="form5">Newspaper Subscription</button>
        <div class="content">
            <form action="{{ url_for('create_newspaper') }}" method="POST">
                <label for="NumberOfMonths">Number of Months</label>
                <input type="number" id="NumberOfMonths" name="NumberOfMonths" required><br>

                <label for="StartDate">Start Date</label>
                <input type="date" id="StartDate" name="StartDate" required><br>
                <!--end date is derived-->
                <label for="Price">Price</label>
                <input type="number" step="0.01" id="Price" name="Price" required><br>

                <label for="SubId">Subscription ID</label>
                <input type="number" id="SubId" name="SubId" required><br>

                <label for="Customer_id">Customer ID</label>
                <input type="number" id="Customer_id" name="Customer_id" required><br>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <div class="text">
        <p>Links:</p>
        <ul class="link-list">
            <li><a href="{{ url_for('create') }}"><strong>C</strong>reate Subscription</a></li>
            <li><a href="{{ url_for('read') }}"><strong>R</strong>ead Subscription</a></li>
            <li><a href="{{ url_for('update') }}"><strong>U</strong>pdate Subscription</a></li>
            <li><a href="{{ url_for('delete') }}"><strong>D</strong>elete Subscription</a></li>
            <li><a href="{{ url_for('homepage') }}">Homepage</a></li>
        </ul>
    </div>

</body>
</html>